<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Notas del cliente</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let note of notes">

      <ion-item>
        <ion-label>
          <p>ID: {{ note.idnota }}</p>
          <p>Código cliente: {{ note.codigocliente }}</p>
          <p>Título: {{ note.titulonota }}</p>
          <p>Descripción: {{ note.descripcionnota }}</p>
          <p>Cód Empresa: {{ note.codigoempresa }}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fab">
    <ion-fab-button color="light">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="presentAddNotesModal()" color="tertiary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>