<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-title>Detalles del cliente {{codigocliente}}</ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="clientForm2" (ngSubmit)="close()"> 
    <ion-item>
      <ion-label>razonsocial: </ion-label>
      <ion-input formControlName="razonsocial"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>email: </ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>telefono: </ion-label>
      <ion-input formControlName="telefono"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>direccion: </ion-label>
      <ion-input formControlName="direccion"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>municipio: </ion-label>
      <ion-input formControlName="municipio"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>provincia: </ion-label>
      <ion-input formControlName="provincia"></ion-input>
    </ion-item>  
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!this.clientForm2.valid">Cerrar</ion-button>
  </form>
</ion-content>