<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-title>Añadir nuevo parte</ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="partForm" (ngSubmit)="addParte()">
    <ion-item>
      <ion-textarea type="text" formControlName="descripcion" placeholder="Descripción"> </ion-textarea>
    </ion-item>  
    <ion-item>
      <ion-label>Observaciones: </ion-label>
      <ion-input formControlName="observaciones"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>ID trabajo: </ion-label>
      <ion-input formControlName="idtrabajo">
        <ion-select  okText='ok'  formControlName="idtrabajo" >
          <ion-select-option  value="{{trabajo.idtrabajo}}" *ngFor="let trabajo of trabajos">
            {{trabajo.idtrabajo}} -
            {{trabajo.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>ID tareas: </ion-label>
      <ion-input formControlName="idtarea" readonly="readonly"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>Fecha: </ion-label>
      <ion-input formControlName="fecha" placeholder="AAAA-MM-DD"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>Nº horas: </ion-label>
      <ion-input formControlName="numhoras"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>Nº horas factura: </ion-label>
      <ion-input formControlName="numhorasfactura"></ion-input>
    </ion-item>  
    <ion-button shape="round" color="tertiary" fill="solid" type="submit" [disabled]="!this.partForm.valid">Agregar</ion-button>
  </form>
</ion-content>
