<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-button (click)="goToMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="openCalModal()">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>About APP</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">

    <p>En esta página existe un menú el cual usted podrá desplegar deslizando de izquierda a derecha
        o pulsando en el botón de la cabecera arriba a la izquierda. También dispone de un botón para agregar evento al calendario<br></p>

    <p>Para cada elemento de la lista de datos:</p>
    <p>1- Deslice de izquierda a derecha para editar.</p>
    <p>2- Deslice de derecha a izquierda para eliminar.</p>

    <ion-segment [(ngModel)]="calendar.mode">
        <ion-segment-button value="month">
            <ion-label>Month</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
            <ion-label>Week</ion-label>
        </ion-segment-button>
        <ion-segment-button value="day">
            <ion-label>Day</ion-label>
        </ion-segment-button>
    </ion-segment>

    

    <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size="8" class="ion-text-center">
            <h2>{{ viewTitle }}</h2>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" startHour="6"
        endHour="20" step="30" startingDayWeek="1">
    </calendar>

</ion-content>