<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-title>Detalles de la tarea {{this.idtareas}}</ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="tareaForm2" (ngSubmit)="close()"> 
    <ion-item>
      <ion-label>descripcion: </ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>fechafin: </ion-label>
      <ion-input formControlName="fechafin"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>fechaverifica: </ion-label>
      <ion-input formControlName="fechaverifica"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label>documento: </ion-label>
      <ion-input formControlName="documento"></ion-input>
    </ion-item>  
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!this.tareaForm2.valid">Cerrar</ion-button>
  </form>
</ion-content>